{% extends 'base.html.twig' %}

{% block title %}Liste des équipes et des joueurs{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des équipes et des joueurs</h1>
</div>
{% endblock %}
